html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
    text-align: center;
    overflow: hidden;
}

#canvas {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 15px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

body:hover > #buttons {
    opacity: 0.5;
}

.button {
    color: white;
    background-color: gray;
    border: none;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 32px;
    cursor: pointer;
}

.button:hover {
    background-color: darkgray;
}
